<footer class="py-5">
    <p class="py-5">&nbsp</p>
    <p class="py-5">&nbsp</p>
    <p class="py-5">&nbsp</p>
    <hr>
    <div class="container text-center text-info">
        <div class="row">
            <div class="col mx-4">
                <img class="img-fluid" src="/assets/images/loghi_feasr.png" alt="loghi dell'Unione Europea, della Repubblica Italiana, della Regione Lazio e del PSR">
            </div>
        </div>
        <div class="row">
            <div class="col mx-2">
                <h5><i>
                    Il Biodistretto Etrusco Romano è beneficiario del Programma di Sviluppo Rurale,
                    MISURA 3.2 “Regimi di qualità dei prodotti agricoli e alimentari” e
                    “Sostegno per attività di informazione e promozione, svolte da associazioni di produttori nel mercato interno”
                </i></h5>
            </div>
        </div>
        <div class="row">
            <div class="col mx-2">
                <h4>PROGRAMMA DI INFORMAZIONE E PROMOZIONE DEI PRODOTTI DI QUALITA’</h4>
            </div>
        </div>
        <div class="row">
            <div class="col mx-2">
                <p>
                    Codice domanda 04250027002<br/>
                    Provvedimento di concessione n. 3.2-RM-18-03-2021-06<br/>
                    Determinazione G00524 del 22/01/2021
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col mx-2">
                <h4>
                    FEASR Fondo Europeo Agricolo per lo Sviluppo Rurale<br/>
                    Programma di Sviluppo Rurale del Lazio<br/>
                    Programmazione 2014-2020
                </h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                {% if site.show_social_icons %}
                {% include social_links.html %}
                {% endif %}
            </div>
        </div>
        <div class="text-center">
            <p>All content copyright Biodistretto Etrusco Romano &copy; {{ site.time | date: '%Y' }} - <a href="{{"/privacy/no_data_collected" | relative_url }}">Privacy Policy</a><br/>
            All rights reserved.</p>
        </div>
    </div>
</footer>      

<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>